$header-footer: #303240;
$background: #F5F6FA;

$text-title: #333333;
$text-normal: #474a59;
$text-input: #525462;
$text-input-placeholder:#acafbf;
$text-link: #5681ee;
$text-error: #ff4e33;
$text-navigation: #464a5a;
$information: #858997;

$invalid-button: #e1e3eb;
$valid-button__primary: #67a300;
$valid-button__secondary: #121523;
$courses-button: #009ecc;

$border-input: #ced0db;
$shadow: #1d1e26;
